.container {
  margin-top: 50px;
  margin-left: 350px;
  margin-right: 200px;
}

#guessInput {
  margin-left: 220px;
}

#guessSubmit {
  border-radius: 35px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 17px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 2px #666;
  background-color: forestgreen;
  border: none;
  color: white;
}

#guessSubmit:hover {
  background-color: darkgreen;
  transition: 0.3s;
}

#guessSubmit:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}



#resetButton {
  border-radius: 35px;
  border: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 17px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  background-color: crimson;
  color: white;
}

#resetButton:hover {
  background-color: darkred;
  transition: 0.3s;
}

#resetButton:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.header {
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-1 {
  margin-left: 350px;
  padding-left: 100px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.input-2 {
  padding-bottom: 7px;
  padding-top: 7px;
}

.input-3 {
  padding-bottom: 7px;
  padding-top: 7px;
}

.outputText {
  margin-left: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

